server:
  port: 8080

spring:
  application:
    name: order-system
  
  kafka:
    bootstrap-servers: localhost:9092
    
    # Configuration Producer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
    
    # Configuration Consumer
    consumer:
      group-id: order-consumer-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
    
    # Topics
    topics:
      input: orders-input
      processed: orders-processed
      dlq: orders-dlq

# Actuator pour monitoring
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# Logging
logging:
  level:
    root: INFO
    com.kafka.groupe6: DEBUG
    org.springframework.kafka: INFO